/* container-first-paragraph */

#container-first-paragraph {
    margin:  0% 10%;
    height: 450px;
}

#container-first-paragraph-pic {
    float: left;
}

#container-first-paragraph-chart {
    float: right;
    background-color: gainsboro;
    height: 400px;
    width: 700px;
    padding: 10px;
    border-radius: 10px;
}
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: calc(100% - 200px); /*減去footer高度*/
}
.footer {
    height: 200px; /*設定footer本身高度*/
    background-color: lightgray;
    
}
ul.navbar{
    list-style-type: none;
    margin-right: 5%;
    padding: 0;
    overflow: hidden;
}
li.navbar{
    float: right;
    border-right-style: dashed;
    border-width: 1px;
}
li.navbar a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-size-adjust: 24px;
}
li.navbar a:hover{
    background-color: rgb(175, 174, 174);
    border-radius: 10%;
}
#Login{
    margin-left: 30px;
    border-style: none;
   
}
#Logo{
    float: left;
    border-style: none;
    margin-left: 30px;
}
.footer_navbar{
    color: dimgray;
    text-align: center;
    font-family: GT America,Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
a.footer_navbar_a{
    color: dimgray;
    text-decoration: none;
}
a.footer_navbar_a a:hover{
    color: darkslategrey;
}