body {
    margin: 0%;
    font-family: "GT America Black","Helvetica Neue","Helvetica",Arial,sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

/* nav-main 主導覽列 */
.nav-main > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-main li {
    float: left;
    
}

.nav-main {
    /* background-color: #fcfcd0; */
    height: 100px;
}


/* nav-main-logo主導覽列logo */
.nav-main-logo {
    margin-top: 10px;
    margin-left: 20px;
}

#nav-main-logo-li-pic {
    width: 80px;
}

/* nav-main-text主導覽列文字選單 */
.nav-main-text {
    float: left;
    margin-left: 900px;
    margin-top: 15px;
}

.nav-main-text a {
    color: inherit;  /* 移除超連結顏色 */
    text-decoration: none;  /* 移除超連結底線 */
    display: block;  /* 讓 <a> 填滿 <li> */
    padding: 10px 15px;
}
.nav-main-text-li-dropdown:hover .nav-main-text-li-dropbtn {
    font-weight: bold;
    color: white;
    background-color: rgb(175, 174, 174);
    border-radius: 5px;
}
  
.nav-main-text-li-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:5px;/* 圓角數值 */
}
  
.nav-main-text-li-dropdown-content a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.nav-main-text-li-dropdown-content a:hover {
    color: #1d6ae5;
    font-weight: bold;
}

.nav-main-text-li-dropbtn_icon {
    vertical-align: middle;
}

.nav-main-text-li-dropdown:hover .nav-main-text-li-dropdown-content {
    display: block;
}

/* first paragragh */

#container-first-paragraph {
    margin:  0% 10%;
    height: 450px;
    /* background-color: #1d6ae5; */
}

#container-first-paragraph-pic {
    float: left;
}

#container-first-paragraph-chart {
    float: right;
    /* background-color: gainsboro; */
    height: 400px;
    width: 700px;
    padding: 10px;
    border-radius: 10px;
}











/* footer */
.footer {
    height: 200px; /*設定footer本身高度*/
    background-color: lightgray;
}

.footer_navbar{
    color: dimgray;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: GT America,Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
a.footer_navbar_a{
    color: dimgray;
    text-decoration: none;
}
a.footer_navbar_a a:hover{
    color: darkslategrey;
}